body, html {
    background: #000000;
    color: #fff;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 1.2;
    margin: 0;
    text-align: center;
}

#container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    font-size: 16px;
}

.resposive-image {
    align-self: center;
    max-width: 1970px;
    margin-bottom: 30px;
    padding: 30px;
    border-bottom: 10px solid #adadad;
}


a:active, a:link, a:visited {
    color: #fff;
    text-decoration: none;
}


/*------Logo
----------------------------*/   
#logo {
    color: #e50914;
    padding: 30px;
    width: 200px;
    font-size: 6em;
    background: url(../img/logo.png) no-repeat;
    background-size: 60%;
    text-indent: -9999px;
}


/*------Navegação
----------------------------*/
.cabeçalho {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    height: 60px;
    position: fixed;
    top: 0;
    left: 0; 
    background: rgba(15, 8, 8, 0.9);
    z-index: 7;
}

nav ul {
    list-style: none;
    padding: 5px 15px;
}


nav ul li a {
    border: 2px #e50914 solid;
    border-radius: 10px ;
    background: black;
    padding: 10px 20px 10px 20px;
    text-transform: capitalize;
    color: #e50914;
    font-weight: bolder;
}

nav ul li a:hover {
    background: #e50914;
    color: black;
    font-weight: bold;
}


/*------Conteúdo1
----------------------------*/
#imagem-carousel {
    width: 100vw;
    margin: 15px auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 10px solid #adadad;
}

#image-container {
    max-width: 1970px;
}


/*------Buttons
----------------------------*/
.button-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    position: absolute;
    z-index: 1;
}

.button-container a{
    width: 50px;
    height: 50px;
    font-size: 32px;
    color: #fff;
    padding: 7px 14px ;
    background-color: black;
    border: 2px solid #fff;
    border-radius: 10px;
}

.button-container a:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
}


/*------Conteúdo2
----------------------------*/
#animation-container {
    width: 100vw;
    margin: 15px auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#imagegif {
    max-width: 1970px;
}

/*------Rodapé
----------------------------*/
footer {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
    background: url(../img/tijolo2.png);
    background-size: 4%;
    opacity: 0.5;
    border-top: 2px solid #adadad;
}

footer p {
    width: 100vw;
    font-size: 1em;
    padding: 20px;
    text-align: center;
}

.social-media{
    font-size: 32px;
   
}


.fa-facebook {
    color: #0e84ec;
    margin: 15px; 
}    

.fa-facebook:hover{
    transform: scale(1.4);
    z-index: 5;
}

.fa-twitter {
    color: #2aa9e0;
    margin: 15px;  
}

.fa-twitter:hover{
    transform: scale(1.4);
    z-index: 5; 
}

.fa-instagram {
    color: #f92ed7;  
    margin: 15px; 
}

.fa-instagram:hover{
    transform: scale(1.4);
    z-index: 5;
}


/*------Home Nesflix
----------------------------*/


/*THE SLIDER CONTAINER
*********************************/
.slider {
    width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    white-space: nowrap;
    position: relative;
    padding-top: var(--slider-py);
    padding-bottom: var(--slider-py);
}

  /* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 0px;
}

#navegacao-home{
    width: 100%;

}
.capa-container img{
    position: relative;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 10px solid #adadad;
}

.carousel-home{
    height: 280px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.carousel-home .carousel-prev-btn,
.carousel-home .carousel-next-btn {
   height: 100%;
   width: 45px;
   line-height: 280px;
   font-size: 35px;
   text-align: center;
   top: 0;
   z-index: 1000;
   opacity: 0;

}

.carousel-home .carousel-prev-btn {
    position: absolute;
    left: -1px;

}

.carousel-home .carousel-next-btn {
    position: absolute;
    right: -1px;
}

.nav-button a:hover {
    color: #000;
    cursor: pointer;
    opacity: 0.7;
    background-color: #fff;
}

.carouselBox{
    width: var(--carouselBox-width);
    height: var(--carouselBox-height);
    white-space: nowrap;
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 0 1px;
    font-size: 0.8rem;
    transition:  all 0.5s ease-in-out;
   }

.carouselBox:nth-of-type(1) {
    margin-left: var(--arrow-width);
  }
.carouselBox img{
    min-width: 250px;
    max-width: 250px;
    height: 240px;
    background-size: cover;
    background-color: lightgreen;
    border-radius: 10px;
    margin: 5px 10px;
    cursor: pointer;
    z-index: 2;
}


.carouselBox:hover{
    transform: scale(1.8);
    z-index: 5;
}


/*
*
* SLIDER INDICATORS
*
*********************************/
.container-indicators {
    width: 100px;
    position: absolute;
    right: 0;
    top: calc(var(--slider-py) - 60px);
    visibility: hidden;

  }
  .indicator {
    width: 15px;
    height: 2px;
    background-color: grey;
    display: inline-block;
  }
  .indicator.active {
    background-color: white;
  }

/*------Media queries
----------------------------*/


/*/ Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    #container {
        font-size: 1.0em;
   }

   #animation-container {
       flex-direction: column;
   }


   #descricao h1, p {
    font-size: 0.9em;
}    

    #imagegif {
    width: 80%;
}

    #container-perfil {
       flex-direction: column;
   }

    #imagepng {
      width: 80%;
   }

    #descricao2 h1, p {
      font-size: 0.9em;
   }

 }

/*/ Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    #container {
        font-size: 1.0em;
   }

   #animation-container {
       flex-direction: column;
   }

   #descricao h1, p {
    font-size: 1em;
}    

    #imagegif {
    width: 80%;
}

   #container-perfil {
    flex-direction: column;
}
    #imagepng {
    width: 80%;
 }

    #descricao2 h1, p {
    font-size: 1em;
 }

 }

/*/ Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    #container {
        font-size: 1.0em;
   }

   #animation-container {
       flex-direction: column;
   }

   #descricao h1, p {
   font-size: 1.2em;
}    

    #imagegif {
    width: 75%;
}

   #container-perfil {
    flex-direction: column;
}
    #imagepng {
    width: 75%;
 }

    #descricao2 h1, p {
    font-size: 1.2em;
 }
   
 }

/*/ Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
   
 }

/*/ Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
   
 }